*{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #97e7a2, #d8ff7e);
    padding: 10px;
  }

